<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jvlcode file uploaded in node js</title>
    <h1>Single file uploaded</h1>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <span>upload file</span>
        <input type="file" name="mypic" required> <br><br>
        <input type="submit" value="submit">
    </form>
</head>
<body>
    
</body>
</html>